<% if @ride %>
  <% @ride.errors.full_messages.each do |error| %>
      <p style="color: red"><%= error %></p>
  <% end %>
<% end %>

<body onload="initialize()">

<div class="content_wrapper">

  <div id="map"></div>

  <div id="new_ride_form">

    <p>Enter the address of your meeting place to autocomplete form:</p>
    <div id="locationField">
      <input class="field" id="autocomplete" value="<%= @ride.street_number %> <%= @ride.street_name %> <%= @ride.city %> <%= @ride.state %> <%= @ride.zip_code %> <%= @ride.country %>" onFocus="geolocate()" type="text"></input>

    </div>

    <form id="ride_form">
      <p>Ride meeting location:</p>
      <input type="text" class="field" id="street_number" value="<%= @ride.street_number %>" name="street_number"></input>
      <br>
      <input class="field" id="route" value="<%= @ride.street_name %>" name="route"></input>
      <br>
      <input class="field" id="locality" value="<%= @ride.city %>" name="locality"></input>
      <br>
      <input class="field" id="administrative_area_level_1" value="<%= @ride.state %>" name="state"></input>
      <br>
      <input class="field" id="postal_code" value="<%= @ride.zip_code %>" name="postal_code"></input>
      <br>
      <input class="field" id="country" value="<%= @ride.country %>" name="country"></input>
      <br>
      <textarea style="width:97%;height:100px" value="<%= @ride.location_add_detail %>" name="location_add_detail"><%= @ride.location_add_detail %></textarea>

      <p>Ride info:</p>
      <input type="text" class="field" value="<%= @ride.ride_name %>" name="ride_name"></input>
      <br>
      <input type="text" id="datepicker" value="<%= Time.parse(@ride.date).strftime("%m/%d/%Y") %>" name="date">
      <br>
      <input type="text" id="timepicker" value="<%= Time.parse(@ride.time).strftime("%-I:%M%p") %>" name="time">
      <br>
      <textarea style="width:97%;height:100px" placehonder="<%= @ride.description %>" name="description"><%= @ride.description %></textarea>
      <br>
<div id="left_two">
      <p>Skill level:</p>
      <select name="skill_level" selected="<%= @ride.skill_level %>">
        <option value="Beginner"
          <% if @ride.skill_level == "Beginner" %>
            selected
          <% end %>
        >Beginner</option>
        <option value="Intermediate"
          <% if @ride.skill_level == "Intermediate" %>
            selected
          <% end %>
        >Intermediate</option>
        <option value="Advanced"
          <% if @ride.skill_level == "Advanced" %>
            selected
          <% end %>
        >Advanced</option>
      </select>
      <br>
      <p>Ride Leader:</p>
      <select name="rider_leader_id">
        <% @all_users.each do |user| %>
          <option value="<%= user.id %>"
            <% if user.id == @ride.rider_leader_id %>
              selected
            <% end %>
            >
            <%= user.first_name %> <%= user.last_name %>
          </option>
        <% end %>
      </select>
      <br>
</div>
<div id="right_two">
      <p>Expected Ride Time:</p>
      <select name="estimated_ride_time" selected="<%= @ride.estimated_ride_time %>">
        <% i = 1 %>
        <% while i <= 24 %>
          <option value="<%= i %>"
            <% if i == @ride.estimated_ride_time %>
              selected
            <% end %>
            >
            <%= i %> hours
          </option>
          <% i += 1 %>
        <% end %>
      </select>

      <br>

      <p>Expected Distance:</p>
      <select name="expected_dist" selected="<%= @ride.expected_dist %>">
        <% i = 1 %>
        <% while i <= 200 %>
          <option value="<%= i %>"
            <% if i == @ride.expected_dist %>
              selected
            <% end %>
            >
            <%= i %> miles
          </option>
          <% i += 1 %>
        <% end %>
      </select>

      <div id="ride_id" style="display: none;"><%= @ride.id %></div>

</div>
      <br>
      <br>
      <div style="text-align:center">
      <input style="font-size:1.25em; margin:15px;"id="submit_button" class="slimField" type="submit" value="Edit Ride"></input>
      </div>
    </form>
  </div>

</div>

<script type="text/javascript" src="/js/edit_ride.js"></script>

</body>