<body onload="initialize()">

<div class="content_wrapper">
  <div id='map'></div>

  <div id="all_rides">

    <h2 style="text-align:center; font-size:2.5em">Upcoming Rides</h2>
    <h4 style="text-align:center">Welcome <%= @user.first_name %>! Browse rides below:</h4>
    <ul>
      <% @all_rides.each do |ride| %>
      <li><p class="ride_detail"><a style="font-size:1.15em" href="/ride/<%= ride.id %>"><%= ride.ride_name %></a></p></li>
      <div class="ride_info_left"><p><%= Time.parse(ride.date).strftime("%a %B %d, %Y") %><br><br><%= Time.parse(ride.time).strftime("%-I:%M%p")
       %></p></div>
      <div class="ride_info_right"><p><%= ride.city %>, <%= ride.state %></p>
      <p><%= ride.users.length %> riders</p></div>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript" src="/js/map.js"></script>

</body>